{% extends 'base.html' %}

{% block title %}
BookHive Categories
{% endblock %}
{% block additional_styles %}
<link rel="stylesheet" href="{{ url_for('Search.static', filename='CSS/Search.css') }}">
{% endblock %}
{% block main_block %}
<main>
    <h2 id="categoryTitle">Results For: {{search_term}}</h2>
    {% if error_message is defined %}
    <div class="msg_container">
        <p class="error-message">{{error_message}}</p>
    </div>
    {% endif %}
    <section id="categoryBooks" class="wishlist">
        {% for book in books %}
        <div class="book">
            <img src="{{book.imageSrc}}" alt="{{book.title}} cover image" class="book-cover">
            <div class="book-info">
                <h3 class="book-title">{{book.title}}</h3>
                <p class="book-author">{{book.author}}</p>
                <p class="book-details">{{book.details}}</p>
            </div>
            {% if session['username'] is defined %}
            <a class="details-button" href="{{url_for('EditBook.EditBook_get', book_id=book._id)}}"
                style="display: block; margin-top: 10px; text-decoration: none; background-color: rgb(168, 122, 76); color: white; padding: 10px 15px; border-radius: 5px;">Edit
                Book</a>
                <a class="details-button" href="{{url_for('RemoveBook.remove_book', book_id=book._id)}}"
                style="display: block; margin-top: 10px; text-decoration: none; background-color: red; color: white; padding: 10px 15px; border-radius: 5px;">Remove
                Book</a>
            {%endif%}
        </div>

        {%endfor%}

    </section>
</main>
{% endblock %}

{% block additional_scripts %}
{% endblock %}