
.container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
  }
  
  .container h2 {
    font-size: 45px;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .container p {
    color: #666;
    margin-bottom: 20px;
  }
  
  /* Form element styles */
  .container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  textarea, input{
    font-family: 'Lexend', sans-serif;
  }
  textarea{
    height: 50%;
  }

  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  textarea,
  select{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    width: 80%;
    max-width: 400px;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  textarea:focus,
  select:focus{
    outline: none;
    border-color: #76491b;
  }
  
  .terms {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .terms input[type="checkbox"] {
    margin-right: 10px;
  }
  
  button {
    padding: 15px 30px;
    background-color: #76491b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
  }
  
  button:hover {
    background-color: #4f1f02;
  }
  
  .login-link {
    color: #76491b;
    text-decoration: none;
    margin-top: 15px;
  }
  
  .login-link a {
    color: #4f1f02;
    text-decoration: underline;
  }
  
  .login-link a:hover {
    color: #76491b;
  }
.error-message{
    color: red;
    text-align: center;
}