{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block additional_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/HomePage.css') }}">
<style>
{% for category in categories %}
.category-item-{{ category.name.lower().replace(' ', '_') }} {
    background-image: 'url_for('static', filename='pictures/' ~ category.filename)';
}
{% endfor %}
</style>
{% endblock %}



{% block main_block %}
<div class="headline-container">
    <h1 class="headline">Discover A World Of Books To Swap</h1>
</div>

<div class="search-container">
    <input type="text" id="search-box" placeholder="Search for books...">
    <button type="submit" id="search-button">Search</button>
    <div id="search-suggestions" class="search-suggestions"></div>
</div>

<div class="category-grid">
{% for category in categories %}
    <a href="{{ url_for('Categories.category', category_name=category.name) }}" class="category-item category-item-{{ category.name.lower().replace(' ', '_') }}">{{ category.name }}</a>
{% endfor %}
</div>

{% endblock %}

{% block additional_scripts %}
<script src="{{ url_for('static', filename='JavaScript/HomePage.js') }}"></script>
<script src="{{ url_for('static', filename='JavaScript/Books.js') }}"></script>
<script src="{{ url_for('static', filename='JavaScript/UserProfile.js') }}"></script>
{% endblock %}
