{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block additional_styles %}
<link rel="stylesheet" href="{{ url_for('HomePage.static', filename='CSS/HomePage.css') }}">
{% endblock %}


{% block main_block %}
<div class="headline-container">
    <h1 class="headline">Discover A World Of Books To Swap</h1>
</div>

<div class="search-container">
    <form action="/search" method="get">
        <input type="text" name="search_term" id="search-box" placeholder="Search for books...">
        <button type="submit" id="search-button">Search</button>
    </form>
    <div id="search-suggestions" class="search-suggestions"></div>
</div>


<div class="category-grid">
    {% for category in categories %}
    <a href="/category/{{category.name}}" class="category-item"
        style="background-image:url('../../../static/img/{{category.image}}')">{{category.name}}</a>
    {% endfor %}
</div>

{% endblock %}

{% block additional_scripts %}
{% endblock %}