<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base Page{% endblock %}</title>
    {% include 'styles.html' %}
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap" rel="stylesheet">

    {% block additional_styles %}
    <!-- Page-specific styles will be added by child templates -->
    {% endblock %}
</head>
<body>
    {% include 'header.html' %}

    {% block main_block %}
    <!-- Main content unique to each page will go here -->
    {% endblock %}

    {% include 'footer.html' %}

    {% block additional_scripts %}
    <!-- Page-specific scripts will be added by child templates -->
    {% endblock %}
</body>
</html>
